<div class="container profile-card">
  <div *ngIf="isLoading; else content">
    <mat-progress-bar mode="indeterminate" *ngIf="isLoading" ></mat-progress-bar>
  </div>
  <ng-template #content>
    <mat-card>
      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="32px" fxLayoutAlign="flex-start">
        <div fxFlex.gt-md="0 1 calc(50% - 32px)">
          <img src="{{ userData.profile_image }}"/>
        </div>
        <div class="borders profile-data" fxFlex.gt-md="0 1 calc(50% - 32px)">
          <h6><strong>Display Name: {{ userData.display_name }}</strong></h6>
          <h6><strong>Location: {{ userData.location }}</strong></h6>
          <h6><strong>User Since: {{ userData.last_access_date | date }}</strong></h6>
          <h6><strong>User ID: {{ userData.user_id }}</strong></h6>
          <h6><button mat-raised-button color="primary">Reputation: {{ userData.reputation }}</button></h6>
          <h6>
            <button mat-raised-button class="bronze">Bronze: {{ userData.badge_counts.bronze }}</button>
            <button mat-raised-button class="silver">Silver: {{ userData.badge_counts.silver }}</button>
            <button mat-raised-button class="gold">Gold: {{ userData.badge_counts.gold }}</button>
          </h6>
        </div>
      </div>
    </mat-card>
  </ng-template>
</div>
