mat-progress-bar{
  margin-top: 35%;
}

mat-card{
  width: 100%;
  margin-top: 2%;
}

mat-card button{
  margin-left: 1%;
}

mat-card:hover{
  cursor: pointer;
  transition: all .2s ease-in-out;
  transform: scale(1.01);
  background-color: #009688;
  color: white;
}

mat-card:hover button{
  background-color: white;
  color: #009688;
}

mat-card:hover .link{
  background-color: #42A5F5;
  color: white;
}

.snackbar{
  background-color: black;
  color: #009688;
}

