.content{
  padding-top: 30%;
  width: 100%;
}

.form{
  min-width: 100%;
}

.full-width{
  min-width: 100%;
  width: 100%;
}

.error{
  color: red;
}

mat-calendar{
  background-color: #ccc;
}

mat-slide-toggle{
  margin-top: 15px;
}

mat-spinner{
  left: 50%;
  margin-top: 10%;
}
.container{
  overflow: hidden;
}
