.card{
  width: 100%;
  cursor: pointer;
}

.card button{
  background-color: #673ab7;
  color: white;
}

.card:hover{
  background: #6f42c1;
	transition: all .2s ease-in-out;
  transform: scale(1.01);
  color: white;
}

.card:hover button{
  background-color: white;
  color: #673ab7;
}

.card .answered{
  background-color:#26A69A;
  color: white;
}

.card:hover .answered{
  background-color: white;
  color: #26A69A;
}

.card .not-answered{
  background-color: #DD2C00;
  color: white;
}

.card:hover .not-answered{
  background-color: white;
  color: #DD2C00;
}

.tags{
  margin-left: 3px;
  margin-top: 3px;
}

a:hover{
  text-decoration: none;
  color: white;
}

@media only screen and (max-width: 600px) {
  .card button{
    min-width: 1%;
    min-height: 1%;
    font-size: 0.5em;
  }

  .card span, button{
    margin: 0;
  }

  .mat-raised-button{
    min-width: 0.1%;
  }

}
