<div class="container">
  <div class="col-12 question" *ngIf="!isLoading">
    <div class="col-12">
      <a target="_blank" href="{{ question$.link }}"><h6><strong  matBadge="{{ question$.score }}"  matBadgePosition="before" matBadgeOverlap="false"  matBadgeColor="warn">Question: {{ question$.title  }}</strong></h6></a>
    </div>
    <div class="col-12 tags">
      <button *ngFor="let tag of question$.tags" mat-raised-button color="primary">{{ tag }}</button>
    </div>
  </div>
  <app-question-answers [question]="question$"></app-question-answers>
</div>
