.card{
  width: 100%;
  cursor: pointer;
}

.card button{
  background-color: #673ab7;
  color: white;
}

.card:hover{
  background: #6f42c1;
	transition: all .2s ease-in-out;
  transform: scale(1.01);
  color: white;
}

.card:hover button{
  background-color: white;
  color: #673ab7;
}

.card .answered{
  background-color:#26A69A;
  color: white;
}

.card:hover .answered{
  background-color: white;
  color: #26A69A;
}

.card:hover .click:hover{
  background-color: #26A69A;
  color: white;
}

.card .not-answered{
  background-color: #DD2C00;
  color: white;
}

.card:hover .not-answered{
  background-color: white;
  color: #DD2C00;
}

a:hover{
  text-decoration: none;
  color: white;
}

.question-title{
  text-align: left;
}
