.question{
  margin-top: 5%;
  margin-bottom: 5%;
}

.tags{
  margin-top: 1%;
  margin-bottom: 1%;
}

.tags button{
  margin-left: 2px;
}

a{
  text-decoration: none;
  color: black;
}

.tag:hover{
  transform: scale(1.01);
}
