.center{
  margin-top: 5%;
  text-align: center;
}

.button-color{
  background-color: #26A69A;
  color: white;
}

.button-color:hover{
  background-color: #26A69A;
  color: white;
}

.mat-progress-bar{
  margin-top: 35%;
}
.mat-card{
  margin-top: 2%;
}

.mat-card .button-color{
  background-color: #6f42c1;
}

.mat-card:hover{
  background-color: #6f42c1;
  color: white;
  transition: all .2s ease-in-out;
  transform: scale(1.01);
  cursor: pointer;
}

a{
  text-decoration: none;
  color: white;
}

.mat-card:hover .button-color{
  background-color:#26A69A;
}
.owner{
  margin-left: 3px;
  color: white;
}

.profile:hover{
  background-color: #26A69A;
}
