<div class="container">
  <mat-progress-bar mode="indeterminate" *ngIf="isLoading" ></mat-progress-bar>

  <div *ngIf="!isAnswered && !isLoading; else answer">
    <a target="_blank" href="{{ question.link }}"><mat-card class="center">
      <p><strong>This question has not been answered yet!!</strong></p>
      <div>
        <a target="_blank" href="{{ question.link }}"><button mat-raised-button class="button-color">Answer</button></a>
      </div>
    </mat-card></a>
  </div>
  <ng-template #answer>
    <div *ngIf="!isLoading">
      <div *ngFor="let answer of question_details$">
        <a target="_blank" href="{{ question.link }}/{{ answer.answer_id }}#{{ answer.answer_id }}"><mat-card>
          <div class="row">
            <div fxFlex="0 1 calc(33% - 32px)" fxFlex.lt-md="0 1 calc(100% - 32px)"><strong><p>Answer Accepted: {{ answer.is_accepted ? "Yes" : "No" }}</p></strong></div>
            <div fxFlex="0 1 calc(33% - 32px)" fxFlex.lt-md="0 1 calc(100% - 32px)"><strong><p>Score: <span matBadge="{{ answer.score }}" matBadgeOverlap="false" matBadgeColor="accent"></span></p></strong></div>
            <div  fxFlex="0 1 calc(33% - 32px)" fxFlex.lt-md="0 1 calc(100% - 32px)"><strong><p>Date: {{ answer.creation_date | date }}</p></strong></div>
          </div>
          <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px">
            <strong><p>Owner details:</p></strong>
            <div>
              <button class="owner button-color" mat-raised-button color="primary">Reputation : {{ answer.owner.reputation }}</button>
            </div>
            <div>
              <button class="owner button-color" mat-raised-button color="primary">Display Name : {{ answer.owner.display_name }}</button>
            </div>
            <div>
              <a routerLink='/stack-overflow/user' [queryParams]="{ user_id: answer.owner.user_id }"><button class="owner profile" mat-raised-button color="accent">View Profile</button></a>
            </div>
          </div>
        </mat-card></a>
      </div>
    </div>
  </ng-template>
</div>
