<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a routerLink="/stack-overflow" routerLinkActive="active"><span>Stack Overflow Search</span></a>
    <a routerLink="/github" routerLinkActive="active"><span>Github Search</span></a>
    <a routerLink="/youtube" routerLinkActive="active"><span>Youtube Search</span></a>
    <a routerLink="/weather" routerLinkActive="active"><span>Weather</span></a>
    <span class="spacer"></span>
    <mat-icon class="icon">favorite</mat-icon>
    <mat-icon class="icon">delete</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>
